<h1>Editing classnote</h1>

<%= render "form", classnote: @classnote %>

<br>

<div>
  <%= link_to "Show this classnote", @classnote %> |
  <%= link_to "Back to classnotes", classnotes_path %>
</div>
