<h1 style="text-align: left">Classnotes</h1>

<div class="max-w-7xl mx-auto mt-12">
  <%= render "classnotes", classnotes: @classnotes %>
</div>

<div style="text-align: center">
  <%= link_to "New classnote", new_classnote_path %>
</div>
