<%= render @classnote %>

<div>
  <%= link_to "Edit this classnote", edit_classnote_path(@classnote) %> |
  <%= link_to "Back to classnotes", classnotes_path %>

  <%= button_to "Destroy this classnote", @classnote, method: :delete %>
</div>
