<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nooto</title>
</head>
<body>
  <div>
    <%= link_to "Login", new_user_session_path %>
  </div>
  <div>
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>
  <div>
    <%= link_to "Continue without an account", courses_path %>
  </div>
</body>
</html>
