<h1 style="text-align: left">Courses</h1>

<div class="max-w-7xl mx-auto mt-12">
  <%= render "courses", courses: @courses %>
</div>

<div style="text-align: center">
  <%= link_to "New course", new_course_path %>
</div>
